
<table class="table table-borderless table-hover">
  <tbody>
  <% @folders.each do |folder| %>
    <tr class="pointer-cursor" onclick="window.location='<% link_to 'enter folder', folder_path(folder) %>';">
      <td class="text-secondary icon-column-width"><i class="fas fa-folder fa-2x"></i></td>
      <td class="align-text-vertical"><%= folder.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>