<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i></li>
  </ol>
</nav>

<%= render 'shared/folders', folders: @folders %>
