<div class="navbar-mobile">
  <div>
    <%= link_to '<i class="fas fa-home fa-2x"></i>'.html_safe, root_path, class: "nav-link text-info" %>
  </div>
  <div>
    <%= link_to '<i class="fas fa-plus fa-2x"></i>'.html_safe, new_document_path, class: "nav-link text-info" %>
  </div>
    <div>
    <%= link_to '<i class="fas fa-folder fa-2x"></i>'.html_safe, folders_path, class: "nav-link text-info" %>
  </div>
</div>
