<div class="container bg-white">

  <h1 class="title1">About us</h1>

  <hr class="hr-title-about mb-5">

  <em><h2 class="text-center op">The dev team</h2></em>
  <hr class="mt-5 mb-5">

  <div class="d-flex mt-5">
    <%= image_tag "ivan.png", style: "height:250px;width:auto;", class: "avatar-about lr"%>

    <div class="ml-5 my-auto avatar-text ud">
      <h2>Ivan Perroud</h2>
      <p>Passionate about cryptocurrencies, I work for a small company in Lausanne. Student in le Wagon to discover web technologies, and looking to work for a crypto company as technical project manager or data analyst. Ideally, I would work and code at the top of a mountain.</p>
      <div class="text-right">
        <span class="mr-3 text-muted">Follow him on</span>
        <a href="https://github.com/eth-ivan" target="_blank"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

  </div>

  <hr class="hr-dotted">

  <div class="d-flex mt-5">

    <div class="mr-5 my-auto avatar-text ud text-right">
      <h2>Antoine Robert</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur obcaecati repellat dolores pariatur? Nostrum qui, obcaecati nemo natus asperiores odio aliquid nam ea repellat et quidem voluptate eum vel dolores.</p>
      <div class="text-left">
        <span class="mr-3 text-muted">Follow him on</span>
        <a href="https://github.com/antoinero" target="_blank"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/antoine.robert.31542" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <%= image_tag "antoine.png", style: "height:250px;width:auto;", class: "avatar-about rl"%>
  </div>

  <hr class="hr-dotted">

  <div class="d-flex mt-5">
    <%= image_tag "ismael.png", style: "height:250px;width:auto;", class: "avatar-about lr"%>

    <div class="ml-5 my-auto avatar-text ud">
      <h2>Ismaël Gashi</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur obcaecati repellat dolores pariatur? Nostrum qui, obcaecati nemo natus asperiores odio aliquid nam ea repellat et quidem voluptate eum vel dolores.</p>
      <div class="text-right">
        <span class="mr-3 text-muted">Follow him on</span>
        <a href="https://github.com/ismooz" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/ismoo/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/ismael.gashi" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/ismoo83" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/ismaelgashi/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

  </div>

  <hr class="hr-dotted">

</div>
