<div class="container bg-white">
  <h2>FAQ</h2>
  <br>
  <div class="row">
    <ul>
      <li>
        <strong>
          Can I save any documents ?
        </strong>

        <p>
          For the moment any jpeg documents can be saved
        </p>

      </li>

      <li>
        <strong>
          Can I change the deadline of one of my document
        </strong>

        <p>
          Yes, go to update my document
        </p>

      </li>

       <li>
        <strong>
          Who can see my documents ?
        </strong>

        <p>
          We are taking privacy seriously and obviously only you can see your documents !
        </p>
      </li>

      </li>

       <li>
        <strong>
          I would like to see how my informations are treated
        </strong>

        <p>
          See the <%= link_to 'general data protection regulation', gdpr_path %>
        </p>
      </li>
    </ul>
  </div>
</div>

