<div class="container pt-5">
  <h2>General Data Protection Regulation</h2>
  <br>
  <div class="row">
    <ul>
      <li>
        <strong>
          Documents Database:
        </strong>

        <p>
          We save your documents on Cloudinary
        </p>

      </li>

      <li>
        <strong>
          Document use:
        </strong>

        <p>
          We do not use nor sell your documents for marketing purpose nor advetisement
        </p>

      </li>

       <li>
        <strong>
          Document access:
        </strong>

        <p>
          Only you can see your documents
        </p>

      </li>

    </ul>

  </div>
</div>

