<div class="container pt-5">
  <div class="row">
    <% @document.each do |doc| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-trip">
          <%= link_to doc do %>
            <%= cl_image_tag(doc.photos.first.key, height: 250) %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= doc.name %></h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
