<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container pt-3 border">
  <div class="row">

    <div class="card-product">
      <div>
        <h2><%= @name%></h2>
        <%=image_tag("doc_samples/Assurance_bateau.jpeg", class: "grow shadow")%>
        <div class="card-product-infos">
           <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="card-product">
      <div>
        <h2>Card 3</h2>
        <%=image_tag("doc_samples/Assurance_bateau.jpeg", class: "grow shadow")%>
        <div class="card-product-infos">
           <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="card-product">
      <div>
        <h2>Card 3</h2>
        <%=image_tag("doc_samples/Assurance_bateau.jpeg", class: "grow shadow")%>
        <div class="card-product-infos">
           <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
  </div>
</div>
