<div class="container bg-white mt-n5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-8 m-0 m-sm-5">
      <h2 class="mb-5">Edit a document</h2>
      <!-- form to add a new document -->
        <%= render 'form_new_edit', document: @document %>
    </div>
  </div>
</div>
