<div class="container bg-white">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-lg-10 form m-0 m-sm-5">
      <h2>Add a new document</h2>
      <!-- form to add a new document -->
        <%= render 'form_new_edit', document: @document %>
    </div>
  </div>
</div>
