.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// Page About //

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}

}

@keyframes lr {
    from { transform : translateX(-4em); }
    to   { transform : translateX(0em); }
}

@keyframes ud {
    from { transform : translateY(-4em); }
    to   { transform : translateY(0em); }
}

@keyframes rl {
    from { transform : translateX(4em); }
    to   { transform : translateX(0em); }
}

@keyframes du {
    from { transform : translateY(4em); }
    to   { transform : translateY(0em); }
}

.avatar-about {
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.rl {
  animation-name    : opacity ,    rl;
  animation-duration: 3s      ,     2s;
}

.lr {
  animation-name    : opacity ,    lr;
  animation-duration: 3s      ,     2s;
}

.ud {
  animation-name    : opacity ,    ud;
  animation-duration: 3s      ,     2s;
}

.du {
  animation-name    : opacity ,    du;
  animation-duration: 3s      ,     2s;
}
