.btn-ghost {
  color: #4A4A4A;
  border: 3px solid #4A4A4A;
  padding: 50px 24px;
  border-radius: 100px;
  font-weight: strong;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
