
.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px;
}

.card-product img {

  height: 300%;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 30;
}

.card-product p {

  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// _____________________

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
}
