.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.25rem 0.6rem;
  // border: solid 1px $m-blue;
  color: $turquoise;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
  }
}

.tag-selector:checked + label {
  background-color: $turquoise;
  color: white;
}

legend {
  visibility: hidden;
}
