.container {
  max-width: 1024px;
  min-height: 100vh;
  height: 100%;
  padding: 60px;
  overflow-y: scroll;
}

@media (max-width: 587px) {
  .container {
    margin-top: 0;
    margin-bottom: 10vh;

  }
}
