@import "../config/colors";
@import "../config/fonts";


.navbar-lewagon {
  justify-content: space-between;
  background: $m-blue;
  font-family: $headers-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

@media (min-width: 576px) {
  .navbar-lewagon .navbar-brand img {
    width: 30px;
    margin-left: 50px;
  }
}

@media (max-width: 576px) {
  .btn {
    margin-bottom: .8rem;
  }
}

