.photo {
  position: relative;
  max-width: 24rem;
  img {
    padding: 16px 16px 0 16px;
    background-color: #F5F5F5;
  }
}
.bottom-right {
  position: absolute;
  top: 150px;
  right: 32px;
  font-size: 32px;
  color: $turquoise;
  opacity: 0.7;
  text-shadow: 3px 3px 16px lightgray;
  &:hover {
   opacity: 1;

  }
}

.top-solid {
  border-top: 1px solid #DADCE0;
}

.arrow-color {
  color: gray;
}

@media only screen and (max-width: 450px) {
  .bottom-right {
    top: 90px;
    right: 24px;
  }
}